:root {
    --oddBackground: #f1f1f1;
    --evenBackground: #e3dfdd;
    --headerBackground: rgb(16, 16, 16);
    --onClick: #f1f1f1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/******************** HEADER CSS BEGINS ********************/
header {
    background: var(--headerBackground);
    text-align: center;
    position: fixed;
    width: 100%;
    font-family: 'Montserrat';
    z-index: 999;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a span {
    font-weight: 300;
}

.logo a:active {
    color: var(--onClick);
}

.navToggle {
    display: none;
}

.navToggleLabel {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.navToggleLabel span::before,
.navToggleLabel span::after {
    content: '';
    position: absolute;
}

.navToggleLabel span::before {
    bottom: 7px;
}

.navToggleLabel span::after {
    top: 7px;
}

nav {
    background: var(--headerBackground);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.navToggle:checked ~ nav {
    transform: scale(1,1);
}

.navToggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    color: var(--onClick);
}

@media screen and (min-width: 1450px) {
    .navToggleLabel {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a:hover {
        color: white;
        font-weight: bold;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -0.25em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    nav a:active {
        color: var(--onClick);
    }

    nav a:active::before {
        background: var(--onClick);
    }

}

/******************** MAIN CONTAINER CSS BEGINS ********************/
body {
    margin: 0;
}

.container {
    height: 100%;
    background: var(--oddBackground);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
    color: black;
    font-family: 'Montserrat';
    background: var(--oddBackground);
}

/******************** PAGE ONE CSS BEGINS ********************/
.pageOne {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.profilePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: cyan;
    border-radius: 10px;
    box-shadow: 0rem 1rem 2rem -1rem;
}

.profileImage {
    display: flex;
    height: 150px;
    width: 150px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    margin: 25px 25px 0px 25px;
}

.simpleInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 25px 25px;
}

.nameInfo {
    display: flex;
    text-transform: uppercase;
}

.titleInfo {
    display: flex;
}

.socialsInfo {
    display: flex;
}

.buttonInfo {
    display: flex;
}

.aboutPanel {
    display: flex;
    background: green;
    border-radius: 10px;
    box-shadow: 0rem 1rem 2rem -1rem;
    padding: 75px 50px;
    height: 70%;
}

.aboutMe {

}

.bio {
}

/******************** PAGE TWO CSS BEGINS ********************/